.intro{
  @extend .grid; 
  @extend .grid--center;
  @extend .grid--full;

  .photo__wrapper{
    @extend .grid__item;
    @extend .palm--one-whole; 
    @extend .lap--one-half; 
    @extend .one-third;
    text-align: center;

    .about-me__photo{
      width: 100%;
    }
  }
}

.intro__text {
  font-family: 'PT Sans', sans-serif;
  padding-left: 0;
  h3{
    margin: .75em 0 0 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  h4{
    margin: 0 0 .75em 0;
    font-weight: 700;
  }
  p {
    font-size: .85em;
    line-height: 1.5;
    font-style: italic;
    position: relative;
    // &:before {
    //   display: block;
    //   padding-left: 10px;
    //   content: "\201C";
    //   font-size: 2.75em;
    //   position: absolute;
    //   left: -20px;
    //   top: -20px;
    //   color: #222;

    //   @media screen and (max-width:768px){
    //     left: -10px;
    //     top: -10px;
    //   }
    // }
  }
}

.stats-section {
  padding: 0;
  margin-top: 5%;
  margin-left: 0;
  font-family: 'PT Sans', sans-serif;

  h4 {
    font-weight: 700;
  }

  @media screen and (max-width:767px){
    margin-top: 10%;
  }

  &__item {
    @extend .grid__item;
    @extend .palm--one-third;
    @extend .lap--one-quarter;
    @extend .two-twelfths;

    text-align: center !important;
    margin: 2em 0px;
  
  .stats__img {
    width: 60%;
    padding: 5%;
  }

  .stats__text{
    font-size: 0.707em;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: .5em 0 0 0;
  }

  }
}



