#dataviz_container {
  & .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  & .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  & .x.axis path {
    display: none;
  }

  & .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  & .chart_title {
   text-align: center; 
  }
  
  & #pie_chart_d3{
    margin: 0 auto;
  }
  & .jumbotron{
    background-color: #F5DEB3;
    margin-bottom: 0;
    margin-top: 0;
  }
}

#dataviz_container2 {
  // border: 2px solid red;
  // border-left: 1px solid black;
  // border-right: 1px solid black;
  @media only screen and (max-width: 1023px) {

    > div.text-container {

      > ul {
        list-style-type: square;
        list-style-position: inside;
      }

      > ul.data_list {
        font-size: .65em;
        text-indent: 1px;
        list-style-type: square;
        list-style-position: inside;
        column-count: 2;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    width: 120%;
    margin-left: -10%;
    > div.text-container {
      // text-indent: -8%;
      
      > ul {
        
        text-indent: 1px;
        list-style-type: square;
        list-style-position: inside;
      }

      > ul.data_list {

        font-size: .65em;
        text-indent: 1px;
        list-style-type: square;
        list-style-position: inside;

        @media only screen and (max-width: 1023px) {
          column-count: 2;
        }
        @media only screen and (min-width: 1024px) {
          column-count: 3;
        }
      }
    }
  }

  > div:nth-child(1) {
    margin-top: 0;
  }

  > div.text-container {
    margin: 5% 0;
  }

  > #d3_stacked_area_chart_slider-range {
    margin: 5% 12% 5% 5%;
  }
  
  > #d3_linegraph_rateofchange , #d3_scatterplot_enrollment , #d3_scatterplot_duration , #d3_linegraph_trials {

    width: 75%;
    /* float: left; */
    display: inline-block;
    text-align: left;

    body {
      font: 15px sans-serif;
    }

    .name{
      position: relative;
      top: 90px;
      text-align: left;
      font-weight: bold;
    }

    .title {
      position: relative;
      text-align: left;
      font-size: 25px;
    }

    .x-axis path, .y-axis path,
    .y-axis line, .x-axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }

    .line{
      fill: none;
      stroke: blue;
      stroke-width: 2px;
    }

    .dot {
      stroke: #000;
    }

    #filter {
      position: absolute;
    }

    #mark {
      padding-left: 150px;
      position: inherit;
    }

    #xAXs {
      position: relative;
      left: 290px;
      bottom: 30px;
    }

    #yAXs {
    position: relative;
    bottom: 30px;
    left: 315px;

    }

    #label {
    position: absolute;
    top: 599px;
    bottom: 125px;
    left: 300px;
    right: 0px;
    }

    #label2 {
    position: absolute;
    top: 599px;
    bottom: 125px;
    left: 430px;
    right: 0px;
    }
    
    &_filter {
      min-width: 10%;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      float: right;

      >b {
        // border: 2px solid red;
        margin: 10% 0;
      }

      >input {
        margin: 5% 10% 5% 0%;
      }
    }



    &_slider-range {
      margin: 5% 12% 5% 5%;
    }
  }

}

