$base__font-size: 15 !default;
$base__line: 20 !default;

@function calc-em($target, $context: $base__font-size) {
    @return ($target / $context) * 1em;
}

$vox_gray: #f1f3f2;
$vox_yellow: #FEFF03;
//body-background : #F3F5E8

body{
  // background-color: $vox_gray;
  // background : #F3F5E8;
  // background: #EFE0CB;



  // for testing purposes
  // -webkit-filter: blur(2px);
  // -moz-filter: blur(2px);
  // -ms-filter: blur(2px);
  // -o-filter: blur(2px);
  // filter: blur(2px);
  font-family: Arial,Helvetica,sans-serif; 
}


// line-height: 26px;
// font-size: 12px;
// letter-spacing: 1px;
// word-spacing: 5px;
// padding: 10px 5px;
// font-weight: 400;
// text-align: justify;
// border-left: 0px solid #efe0cb;
// border-top: 0px solid #efe0cb;
