.navbar-icon{
  width: 36px;
}

.nav {
  @extend .grid__item;
  @extend .lap--one-whole;
  @extend .palm--one-whole;
  @extend .one-sixth;

  text-align: center;
  background-color: #28aadc;
  padding-top: 5%;
  font-weight: 800;
  font-family: Arial;
  padding-left: 0;

  @media screen and (max-width:1023px){
    padding-top: 3%;
  }

  .site-logo {
    width: 50%;

    @media screen and (max-width:1023px) {
      width: 10%;
    }

    @media screen and (max-width:480px){
      width: 20%;
    }
  }

  @media (min-width:1024px){
    height: 100vh;
    position: fixed;
  }

  &-social{
    margin-top: 20%;
    @media screen and (max-width:1023px){
      margin: 3% 0;
    }

    &__item {
      display: inline-block;
      margin: 0 3%;
    }

    &__icon {
      width: 24px;
      height: 24px;
    }
  }

  &-primary{
    margin-top: 20%;
    font-size: 1.125em;

    @media screen and (max-width:1023px){
      margin: 3% auto;
      width: 60%;
      display: table;
      font-size: 1.5em;
    }

    @media screen and (max-width:768px){
      margin: 3% 0;
      width: 100%;
      display: table;
      font-size: .9em;
    }

    &__item {
      @extend .palm--one-third;
      margin: 20% 0;
      @media screen and (max-width:1023px){
        margin: 3% 0;
        display: table-cell;
      }
    }

    &__link{
      color: black;
      font-size: 1.125em;
    }
  }
}

.main-content {
  @extend .grid__item;
  @extend .lap--one-whole;
  @extend .palm--one-whole;
  @extend .five-sixths;
  text-align: center;

  @media screen and (max-width:1023px){
    padding: 20px;
  }
}

.main-content__wrapper {
  @extend .grid__item;
  @extend .four-fifths; 
  @extend .lap--one-whole; 
  @extend .palm--one-whole;
  padding: 5% 0;

  &--without-padding {
    padding: 0;
  }
}

