@charset "UTF-8";
body {
  font-family: Arial,Helvetica,sans-serif; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
.grid, .intro {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: 0;
  /* [3] */ }

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.grid__item, .nav, .main-content, .main-content__wrapper, .intro .photo__wrapper, .stats-section__item {
  display: inline-block;
  /* [1] */
  padding-left: 0;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */ }

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
.grid--rev {
  direction: rtl;
  text-align: left; }
  .grid--rev > .grid__item, .grid--rev > .nav, .grid--rev > .main-content, .grid--rev > .main-content__wrapper, .intro .grid--rev > .photo__wrapper, .grid--rev > .stats-section__item {
    direction: ltr;
    text-align: left; }

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
.grid--full, .intro {
  margin-left: 0; }
  .grid--full > .grid__item, .intro > .grid__item, .grid--full > .nav, .intro > .nav, .grid--full > .main-content, .intro > .main-content, .grid--full > .main-content__wrapper, .intro > .main-content__wrapper, .intro .grid--full > .photo__wrapper, .intro > .photo__wrapper, .grid--full > .stats-section__item, .intro > .stats-section__item {
    padding-left: 0; }

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
.grid--right {
  text-align: right; }
  .grid--right > .grid__item, .grid--right > .nav, .grid--right > .main-content, .grid--right > .main-content__wrapper, .intro .grid--right > .photo__wrapper, .grid--right > .stats-section__item {
    text-align: left; }

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
.grid--center, .intro {
  text-align: center; }
  .grid--center > .grid__item, .intro > .grid__item, .grid--center > .nav, .intro > .nav, .grid--center > .main-content, .intro > .main-content, .grid--center > .main-content__wrapper, .intro > .main-content__wrapper, .intro .grid--center > .photo__wrapper, .intro > .photo__wrapper, .grid--center > .stats-section__item, .intro > .stats-section__item {
    text-align: left; }

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
.grid--middle > .grid__item, .grid--middle > .nav, .grid--middle > .main-content, .grid--middle > .main-content__wrapper, .intro .grid--middle > .photo__wrapper, .grid--middle > .stats-section__item {
  vertical-align: middle; }

.grid--bottom > .grid__item, .grid--bottom > .nav, .grid--bottom > .main-content, .grid--bottom > .main-content__wrapper, .intro .grid--bottom > .photo__wrapper, .grid--bottom > .stats-section__item {
  vertical-align: bottom; }

/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
.grid--narrow {
  margin-left: 0; }
  .grid--narrow > .grid__item, .grid--narrow > .nav, .grid--narrow > .main-content, .grid--narrow > .main-content__wrapper, .intro .grid--narrow > .photo__wrapper, .grid--narrow > .stats-section__item {
    padding-left: 0; }

/**
 * Create grids with wider gutters. Extends `.grid`.
 */
.grid--wide {
  margin-left: 0; }
  .grid--wide > .grid__item, .grid--wide > .nav, .grid--wide > .main-content, .grid--wide > .main-content__wrapper, .intro .grid--wide > .photo__wrapper, .grid--wide > .stats-section__item {
    padding-left: 0; }

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%; }

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths, .intro .photo__wrapper {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths, .main-content__wrapper {
  width: 80%; }

/**
 * Sixths
 */
.one-sixth, .two-twelfths, .stats-section__item, .nav {
  width: 16.666%; }

.five-sixths, .ten-twelfths, .main-content {
  width: 83.333%; }

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%; }

.three-eighths {
  width: 37.5%; }

.five-eighths {
  width: 62.5%; }

.seven-eighths {
  width: 87.5%; }

/**
 * Tenths
 */
.one-tenth {
  width: 10%; }

.three-tenths {
  width: 30%; }

.seven-tenths {
  width: 70%; }

.nine-tenths {
  width: 90%; }

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%; }

.five-twelfths {
  width: 41.666%; }

.seven-twelfths {
  width: 58.333%; }

.eleven-twelfths {
  width: 91.666%; }

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  .palm--one-whole, .nav, .main-content, .main-content__wrapper, .intro .photo__wrapper {
    width: 100%; }

  /**
   * Halves
   */
  .palm--one-half, .palm--two-quarters, .palm--three-sixths, .palm--four-eighths, .palm--five-tenths, .palm--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  .palm--one-third, .palm--two-sixths, .palm--four-twelfths, .nav-primary__item, .stats-section__item {
    width: 33.333%; }

  .palm--two-thirds, .palm--four-sixths, .palm--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  .palm--one-quarter, .palm--two-eighths, .palm--three-twelfths {
    width: 25%; }

  .palm--three-quarters, .palm--six-eighths, .palm--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  .palm--one-fifth, .palm--two-tenths {
    width: 20%; }

  .palm--two-fifths, .palm--four-tenths {
    width: 40%; }

  .palm--three-fifths, .palm--six-tenths {
    width: 60%; }

  .palm--four-fifths, .palm--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  .palm--one-sixth, .palm--two-twelfths {
    width: 16.666%; }

  .palm--five-sixths, .palm--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  .palm--one-eighth {
    width: 12.5%; }

  .palm--three-eighths {
    width: 37.5%; }

  .palm--five-eighths {
    width: 62.5%; }

  .palm--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  .palm--one-tenth {
    width: 10%; }

  .palm--three-tenths {
    width: 30%; }

  .palm--seven-tenths {
    width: 70%; }

  .palm--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  .palm--one-twelfth {
    width: 8.333%; }

  .palm--five-twelfths {
    width: 41.666%; }

  .palm--seven-twelfths {
    width: 58.333%; }

  .palm--eleven-twelfths {
    width: 91.666%; } }
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  .lap--one-whole, .nav, .main-content {
    width: 100%; }

  /**
   * Halves
   */
  .lap--one-half, .lap--two-quarters, .lap--three-sixths, .lap--four-eighths, .lap--five-tenths, .lap--six-twelfths, .intro .photo__wrapper {
    width: 50%; }

  /**
   * Thirds
   */
  .lap--one-third, .lap--two-sixths, .lap--four-twelfths {
    width: 33.333%; }

  .lap--two-thirds, .lap--four-sixths, .lap--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  .lap--one-quarter, .lap--two-eighths, .lap--three-twelfths, .stats-section__item {
    width: 25%; }

  .lap--three-quarters, .lap--six-eighths, .lap--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  .lap--one-fifth, .lap--two-tenths {
    width: 20%; }

  .lap--two-fifths, .lap--four-tenths {
    width: 40%; }

  .lap--three-fifths, .lap--six-tenths {
    width: 60%; }

  .lap--four-fifths, .lap--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  .lap--one-sixth, .lap--two-twelfths {
    width: 16.666%; }

  .lap--five-sixths, .lap--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  .lap--one-eighth {
    width: 12.5%; }

  .lap--three-eighths {
    width: 37.5%; }

  .lap--five-eighths {
    width: 62.5%; }

  .lap--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  .lap--one-tenth {
    width: 10%; }

  .lap--three-tenths {
    width: 30%; }

  .lap--seven-tenths {
    width: 70%; }

  .lap--nine-tenths, .main-content__wrapper {
    width: 90%; }

  /**
   * Twelfths
   */
  .lap--one-twelfth {
    width: 8.333%; }

  .lap--five-twelfths {
    width: 41.666%; }

  .lap--seven-twelfths {
    width: 58.333%; }

  .lap--eleven-twelfths {
    width: 91.666%; } }
@media only screen and (max-width: 1023px) {
  /**
   * Whole
   */
  .portable--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  .portable--one-half, .portable--two-quarters, .portable--three-sixths, .portable--four-eighths, .portable--five-tenths, .portable--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  .portable--one-third, .portable--two-sixths, .portable--four-twelfths {
    width: 33.333%; }

  .portable--two-thirds, .portable--four-sixths, .portable--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  .portable--one-quarter, .portable--two-eighths, .portable--three-twelfths {
    width: 25%; }

  .portable--three-quarters, .portable--six-eighths, .portable--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  .portable--one-fifth, .portable--two-tenths {
    width: 20%; }

  .portable--two-fifths, .portable--four-tenths {
    width: 40%; }

  .portable--three-fifths, .portable--six-tenths {
    width: 60%; }

  .portable--four-fifths, .portable--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  .portable--one-sixth, .portable--two-twelfths {
    width: 16.666%; }

  .portable--five-sixths, .portable--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  .portable--one-eighth {
    width: 12.5%; }

  .portable--three-eighths {
    width: 37.5%; }

  .portable--five-eighths {
    width: 62.5%; }

  .portable--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  .portable--one-tenth {
    width: 10%; }

  .portable--three-tenths {
    width: 30%; }

  .portable--seven-tenths {
    width: 70%; }

  .portable--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  .portable--one-twelfth {
    width: 8.333%; }

  .portable--five-twelfths {
    width: 41.666%; }

  .portable--seven-twelfths {
    width: 58.333%; }

  .portable--eleven-twelfths {
    width: 91.666%; } }
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  .desk--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  .desk--one-half, .desk--two-quarters, .desk--three-sixths, .desk--four-eighths, .desk--five-tenths, .desk--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  .desk--one-third, .desk--two-sixths, .desk--four-twelfths {
    width: 33.333%; }

  .desk--two-thirds, .desk--four-sixths, .desk--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  .desk--one-quarter, .desk--two-eighths, .desk--three-twelfths {
    width: 25%; }

  .desk--three-quarters, .desk--six-eighths, .desk--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  .desk--one-fifth, .desk--two-tenths {
    width: 20%; }

  .desk--two-fifths, .desk--four-tenths {
    width: 40%; }

  .desk--three-fifths, .desk--six-tenths {
    width: 60%; }

  .desk--four-fifths, .desk--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  .desk--one-sixth, .desk--two-twelfths {
    width: 16.666%; }

  .desk--five-sixths, .desk--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  .desk--one-eighth {
    width: 12.5%; }

  .desk--three-eighths {
    width: 37.5%; }

  .desk--five-eighths {
    width: 62.5%; }

  .desk--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  .desk--one-tenth {
    width: 10%; }

  .desk--three-tenths {
    width: 30%; }

  .desk--seven-tenths {
    width: 70%; }

  .desk--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  .desk--one-twelfth {
    width: 8.333%; }

  .desk--five-twelfths {
    width: 41.666%; }

  .desk--seven-twelfths {
    width: 58.333%; }

  .desk--eleven-twelfths {
    width: 91.666%; } }
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
[class*="push--"] {
  position: relative; }

/**
 * Whole
 */
.push--one-whole {
  left: 100%; }

/**
 * Halves
 */
.push--one-half, .push--two-quarters, .push--three-sixths, .push--four-eighths, .push--five-tenths, .push--six-twelfths {
  left: 50%; }

/**
 * Thirds
 */
.push--one-third, .push--two-sixths, .push--four-twelfths {
  left: 33.333%; }

.push--two-thirds, .push--four-sixths, .push--eight-twelfths {
  left: 66.666%; }

/**
 * Quarters
 */
.push--one-quarter, .push--two-eighths, .push--three-twelfths {
  left: 25%; }

.push--three-quarters, .push--six-eighths, .push--nine-twelfths {
  left: 75%; }

/**
 * Fifths
 */
.push--one-fifth, .push--two-tenths {
  left: 20%; }

.push--two-fifths, .push--four-tenths {
  left: 40%; }

.push--three-fifths, .push--six-tenths {
  left: 60%; }

.push--four-fifths, .push--eight-tenths {
  left: 80%; }

/**
 * Sixths
 */
.push--one-sixth, .push--two-twelfths {
  left: 16.666%; }

.push--five-sixths, .push--ten-twelfths {
  left: 83.333%; }

/**
 * Eighths
 */
.push--one-eighth {
  left: 12.5%; }

.push--three-eighths {
  left: 37.5%; }

.push--five-eighths {
  left: 62.5%; }

.push--seven-eighths {
  left: 87.5%; }

/**
 * Tenths
 */
.push--one-tenth {
  left: 10%; }

.push--three-tenths {
  left: 30%; }

.push--seven-tenths {
  left: 70%; }

.push--nine-tenths {
  left: 90%; }

/**
 * Twelfths
 */
.push--one-twelfth {
  left: 8.333%; }

.push--five-twelfths {
  left: 41.666%; }

.push--seven-twelfths {
  left: 58.333%; }

.push--eleven-twelfths {
  left: 91.666%; }

@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  .push--palm--one-whole {
    left: 100%; }

  /**
   * Halves
   */
  .push--palm--one-half, .push--palm--two-quarters, .push--palm--three-sixths, .push--palm--four-eighths, .push--palm--five-tenths, .push--palm--six-twelfths {
    left: 50%; }

  /**
   * Thirds
   */
  .push--palm--one-third, .push--palm--two-sixths, .push--palm--four-twelfths {
    left: 33.333%; }

  .push--palm--two-thirds, .push--palm--four-sixths, .push--palm--eight-twelfths {
    left: 66.666%; }

  /**
   * Quarters
   */
  .push--palm--one-quarter, .push--palm--two-eighths, .push--palm--three-twelfths {
    left: 25%; }

  .push--palm--three-quarters, .push--palm--six-eighths, .push--palm--nine-twelfths {
    left: 75%; }

  /**
   * Fifths
   */
  .push--palm--one-fifth, .push--palm--two-tenths {
    left: 20%; }

  .push--palm--two-fifths, .push--palm--four-tenths {
    left: 40%; }

  .push--palm--three-fifths, .push--palm--six-tenths {
    left: 60%; }

  .push--palm--four-fifths, .push--palm--eight-tenths {
    left: 80%; }

  /**
   * Sixths
   */
  .push--palm--one-sixth, .push--palm--two-twelfths {
    left: 16.666%; }

  .push--palm--five-sixths, .push--palm--ten-twelfths {
    left: 83.333%; }

  /**
   * Eighths
   */
  .push--palm--one-eighth {
    left: 12.5%; }

  .push--palm--three-eighths {
    left: 37.5%; }

  .push--palm--five-eighths {
    left: 62.5%; }

  .push--palm--seven-eighths {
    left: 87.5%; }

  /**
   * Tenths
   */
  .push--palm--one-tenth {
    left: 10%; }

  .push--palm--three-tenths {
    left: 30%; }

  .push--palm--seven-tenths {
    left: 70%; }

  .push--palm--nine-tenths {
    left: 90%; }

  /**
   * Twelfths
   */
  .push--palm--one-twelfth {
    left: 8.333%; }

  .push--palm--five-twelfths {
    left: 41.666%; }

  .push--palm--seven-twelfths {
    left: 58.333%; }

  .push--palm--eleven-twelfths {
    left: 91.666%; } }
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  .push--lap--one-whole {
    left: 100%; }

  /**
   * Halves
   */
  .push--lap--one-half, .push--lap--two-quarters, .push--lap--three-sixths, .push--lap--four-eighths, .push--lap--five-tenths, .push--lap--six-twelfths {
    left: 50%; }

  /**
   * Thirds
   */
  .push--lap--one-third, .push--lap--two-sixths, .push--lap--four-twelfths {
    left: 33.333%; }

  .push--lap--two-thirds, .push--lap--four-sixths, .push--lap--eight-twelfths {
    left: 66.666%; }

  /**
   * Quarters
   */
  .push--lap--one-quarter, .push--lap--two-eighths, .push--lap--three-twelfths {
    left: 25%; }

  .push--lap--three-quarters, .push--lap--six-eighths, .push--lap--nine-twelfths {
    left: 75%; }

  /**
   * Fifths
   */
  .push--lap--one-fifth, .push--lap--two-tenths {
    left: 20%; }

  .push--lap--two-fifths, .push--lap--four-tenths {
    left: 40%; }

  .push--lap--three-fifths, .push--lap--six-tenths {
    left: 60%; }

  .push--lap--four-fifths, .push--lap--eight-tenths {
    left: 80%; }

  /**
   * Sixths
   */
  .push--lap--one-sixth, .push--lap--two-twelfths {
    left: 16.666%; }

  .push--lap--five-sixths, .push--lap--ten-twelfths {
    left: 83.333%; }

  /**
   * Eighths
   */
  .push--lap--one-eighth {
    left: 12.5%; }

  .push--lap--three-eighths {
    left: 37.5%; }

  .push--lap--five-eighths {
    left: 62.5%; }

  .push--lap--seven-eighths {
    left: 87.5%; }

  /**
   * Tenths
   */
  .push--lap--one-tenth {
    left: 10%; }

  .push--lap--three-tenths {
    left: 30%; }

  .push--lap--seven-tenths {
    left: 70%; }

  .push--lap--nine-tenths {
    left: 90%; }

  /**
   * Twelfths
   */
  .push--lap--one-twelfth {
    left: 8.333%; }

  .push--lap--five-twelfths {
    left: 41.666%; }

  .push--lap--seven-twelfths {
    left: 58.333%; }

  .push--lap--eleven-twelfths {
    left: 91.666%; } }
@media only screen and (max-width: 1023px) {
  /**
   * Whole
   */
  .push--portable--one-whole {
    left: 100%; }

  /**
   * Halves
   */
  .push--portable--one-half, .push--portable--two-quarters, .push--portable--three-sixths, .push--portable--four-eighths, .push--portable--five-tenths, .push--portable--six-twelfths {
    left: 50%; }

  /**
   * Thirds
   */
  .push--portable--one-third, .push--portable--two-sixths, .push--portable--four-twelfths {
    left: 33.333%; }

  .push--portable--two-thirds, .push--portable--four-sixths, .push--portable--eight-twelfths {
    left: 66.666%; }

  /**
   * Quarters
   */
  .push--portable--one-quarter, .push--portable--two-eighths, .push--portable--three-twelfths {
    left: 25%; }

  .push--portable--three-quarters, .push--portable--six-eighths, .push--portable--nine-twelfths {
    left: 75%; }

  /**
   * Fifths
   */
  .push--portable--one-fifth, .push--portable--two-tenths {
    left: 20%; }

  .push--portable--two-fifths, .push--portable--four-tenths {
    left: 40%; }

  .push--portable--three-fifths, .push--portable--six-tenths {
    left: 60%; }

  .push--portable--four-fifths, .push--portable--eight-tenths {
    left: 80%; }

  /**
   * Sixths
   */
  .push--portable--one-sixth, .push--portable--two-twelfths {
    left: 16.666%; }

  .push--portable--five-sixths, .push--portable--ten-twelfths {
    left: 83.333%; }

  /**
   * Eighths
   */
  .push--portable--one-eighth {
    left: 12.5%; }

  .push--portable--three-eighths {
    left: 37.5%; }

  .push--portable--five-eighths {
    left: 62.5%; }

  .push--portable--seven-eighths {
    left: 87.5%; }

  /**
   * Tenths
   */
  .push--portable--one-tenth {
    left: 10%; }

  .push--portable--three-tenths {
    left: 30%; }

  .push--portable--seven-tenths {
    left: 70%; }

  .push--portable--nine-tenths {
    left: 90%; }

  /**
   * Twelfths
   */
  .push--portable--one-twelfth {
    left: 8.333%; }

  .push--portable--five-twelfths {
    left: 41.666%; }

  .push--portable--seven-twelfths {
    left: 58.333%; }

  .push--portable--eleven-twelfths {
    left: 91.666%; } }
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  .push--desk--one-whole {
    left: 100%; }

  /**
   * Halves
   */
  .push--desk--one-half, .push--desk--two-quarters, .push--desk--three-sixths, .push--desk--four-eighths, .push--desk--five-tenths, .push--desk--six-twelfths {
    left: 50%; }

  /**
   * Thirds
   */
  .push--desk--one-third, .push--desk--two-sixths, .push--desk--four-twelfths {
    left: 33.333%; }

  .push--desk--two-thirds, .push--desk--four-sixths, .push--desk--eight-twelfths {
    left: 66.666%; }

  /**
   * Quarters
   */
  .push--desk--one-quarter, .push--desk--two-eighths, .push--desk--three-twelfths {
    left: 25%; }

  .push--desk--three-quarters, .push--desk--six-eighths, .push--desk--nine-twelfths {
    left: 75%; }

  /**
   * Fifths
   */
  .push--desk--one-fifth, .push--desk--two-tenths {
    left: 20%; }

  .push--desk--two-fifths, .push--desk--four-tenths {
    left: 40%; }

  .push--desk--three-fifths, .push--desk--six-tenths {
    left: 60%; }

  .push--desk--four-fifths, .push--desk--eight-tenths {
    left: 80%; }

  /**
   * Sixths
   */
  .push--desk--one-sixth, .push--desk--two-twelfths {
    left: 16.666%; }

  .push--desk--five-sixths, .push--desk--ten-twelfths {
    left: 83.333%; }

  /**
   * Eighths
   */
  .push--desk--one-eighth {
    left: 12.5%; }

  .push--desk--three-eighths {
    left: 37.5%; }

  .push--desk--five-eighths {
    left: 62.5%; }

  .push--desk--seven-eighths {
    left: 87.5%; }

  /**
   * Tenths
   */
  .push--desk--one-tenth {
    left: 10%; }

  .push--desk--three-tenths {
    left: 30%; }

  .push--desk--seven-tenths {
    left: 70%; }

  .push--desk--nine-tenths {
    left: 90%; }

  /**
   * Twelfths
   */
  .push--desk--one-twelfth {
    left: 8.333%; }

  .push--desk--five-twelfths {
    left: 41.666%; }

  .push--desk--seven-twelfths {
    left: 58.333%; }

  .push--desk--eleven-twelfths {
    left: 91.666%; } }
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
.navbar-icon {
  width: 36px; }

.nav {
  text-align: center;
  background-color: #28aadc;
  padding-top: 5%;
  font-weight: 700i;
  font-family: 'PT Sans', sans-serif;
  padding-left: 0; }
  @media screen and (max-width: 1023px) {
    .nav {
      padding-top: 3%; } }
  .nav .site-logo {
    width: 50%; }
    @media screen and (max-width: 1023px) {
      .nav .site-logo {
        width: 10%; } }
    @media screen and (max-width: 480px) {
      .nav .site-logo {
        width: 20%; } }
  @media (min-width: 1024px) {
    .nav {
      height: 100vh;
      position: fixed; } }
  .nav-primary {
    margin-top: 20%;
    font-size: 1.125em; }
    @media screen and (max-width: 1023px) {
      .nav-primary {
        margin: 3% auto;
        width: 60%;
        display: table;
        font-size: 1.5em; } }
    @media screen and (max-width: 768px) {
      .nav-primary {
        margin: 3% 0;
        width: 100%;
        display: table;
        font-size: .9em; } }
    .nav-primary__item {
      margin: 20% 0; }
      @media screen and (max-width: 1023px) {
        .nav-primary__item {
          margin: 3% 0;
          display: table-cell; } }
    .nav-primary__link {
      color: black;
      font-size: 1.125em; }

.main-content {
  text-align: center; }
  @media screen and (max-width: 1023px) {
    .main-content {
      padding: 20px; } }

.main-content__wrapper {
  padding: 5% 0; }
  @media screen and (min-width: 1200px) {
    .main-content__wrapper {
      width: 70%; } }
  .main-content__wrapper--without-padding {
    padding: 0; }

.intro .photo__wrapper {
  text-align: center; }
  .intro .photo__wrapper .about-me__photo {
    width: 100%; }

.intro__text {
  font-family: 'PT Sans', sans-serif;
  padding-left: 0; }
  .intro__text h3 {
    margin: .75em 0 0 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .intro__text h4 {
    margin: 0 0 .75em 0;
    font-weight: 700; }
  .intro__text p {
    font-size: .85em;
    line-height: 1.5;
    font-style: italic;
    position: relative; }

.stats-section {
  padding: 0;
  margin-top: 5%;
  margin-left: 0;
  font-family: 'PT Sans', sans-serif; }
  @media screen and (max-width: 767px) {
    .stats-section {
      margin-top: 10%; } }
  .stats-section__item {
    text-align: center !important;
    margin: 2em 0px; }
    .stats-section__item .stats__img {
      width: 60%;
      padding: 5%; }
      .stats-section__item .stats__img--small {
        width: 40%; }
      @media screen and (min-width: 480px) and (max-width: 1024) {
        .stats-section__item .stats__img {
          width: 40%; } }
    .stats-section__item .stats__text {
      font-size: 0.707em;
      font-weight: 100;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: .5em 0 0 0; }

.about-social {
  margin: 2em 0; }
  .about-social__item {
    display: block;
    vertical-align: bottom;
    background-color: #28aadc;
    width: 50%;
    margin: 1em auto; }
  .about-social__icon {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    margin-right: .5em;
    padding-top: 2px; }
  .about-social__text {
    font-weight: 100;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.707em;
    margin-right: 5px;
    color: #222;
    letter-spacing: 1px; }

.heavy {
  font-weight: 700;
  letter-spacing: 1px; }

.about-social__text-wrapper {
  padding-bottom: 2px;
  padding-top: 1px; }

.post__image {
  width: 100%; }
  .post__image--narrow {
    width: 50%; }
  .post__image--extra-narrow {
    width: 40%; }

.post {
  margin: 2em 0;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif; }
  @media screen and (min-width: 1024px) {
    .post__info {
      padding-left: 2em;
      padding-top: 2em; } }
  .post__info h3 {
    margin: 0; }
    @media screen and (max-width: 1024px) {
      .post__info h3 {
        margin-top: 1em; } }
  .post__info h4 {
    font-style: italic;
    margin: 0;
    font-weight: 400; }
  .post__info small {
    color: green; }

.text-container {
  text-align: justify;
  font-family: 'PT Sans', sans-serif !important;
  line-height: 1.5 !important;
  font-size: 1em !important; }
  .text-container h3 {
    margin: 0; }
  .text-container h3, .text-container h4 {
    text-align: center;
    font-weight: 700;
    margin-top: 0; }

.ui.header {
  font-family: 'PT Sans', sans-serif !important; }

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 1em !important;
    margin-right: 1em !important; } }
.ui.container {
  display: block;
  max-width: 100% !important; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui.container {
    width: 723px;
    margin-left: auto !important;
    margin-right: auto !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui.container {
    width: 933px;
    margin-left: auto !important;
    margin-right: auto !important; } }
@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important; } }
.d3_viz {
  width: 100%; }

.article-header {
  margin-top: 2em; }

.intro-img {
  margin-bottom: 2em; }

.section__main-text {
  font-style: normal;
  line-height: 1.5;
  font-size: 1em;
  margin: 5% 0 0 0;
  font-family: Arial; }
.section__stats {
  margin: 2em auto;
  padding-bottom: 2em;
  border-bottom: 2px solid #222; }
  .section__stats .heading1, .section__stats .heading1--wide, .section__stats .heading1--wide--topmarg {
    color: #090909;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.3;
    text-align: left;
    letter-spacing: 1px;
    width: 45%;
    margin-right: 4%;
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .section__stats .heading1, .section__stats .heading1--wide, .section__stats .heading1--wide--topmarg {
        width: 100%;
        text-align: center;
        display: block;
        margin: 1em 0; } }
  .section__stats .heading1--wide {
    width: 66%;
    margin-right: 2%; }
    @media screen and (max-width: 768px) {
      .section__stats .heading1--wide {
        width: 100%;
        text-align: center;
        display: block;
        margin: 1em 0; } }
  .section__stats .heading1--wide--topmarg {
    width: 66%;
    margin-right: 2%;
    margin-top: 13%; }
    @media screen and (max-width: 768px) {
      .section__stats .heading1--wide--topmarg {
        width: 100%;
        text-align: center;
        display: block;
        margin: 1em 0; } }
.section__image-row, .section__image-row--wide {
  margin-top: 3%;
  width: 50%;
  display: inline-block;
  vertical-align: top; }
  @media screen and (max-width: 768px) {
    .section__image-row, .section__image-row--wide {
      width: 70%;
      display: block;
      margin: 1em auto; } }
.section__image-row--wide {
  width: 30%; }
  @media screen and (max-width: 768px) {
    .section__image-row--wide {
      width: 70%;
      display: block;
      margin: 1em auto; } }

.stats-section--2 {
  text-align: left; }
  .stats-section--2 .stats__item {
    width: 48%;
    display: inline-block; }
    .stats-section--2 .stats__item__text {
      margin: 4em 0 1em 0;
      width: 70%;
      color: #FEFF03;
      background: #222;
      padding-left: 1em; }
    .stats-section--2 .stats__item__img {
      display: inline-block; }
      .stats-section--2 .stats__item__img img {
        width: 50%; }

.section-intro__main-text-wrapper {
  margin-top: 5%; }

.stats--normal {
  font-size: 1.5em; }

.stats--big {
  font-weight: 100;
  font-size: 2em;
  color: #FEFF03;
  background: #222;
  padding: 2px; }
  .stats--big--plain {
    background-color: none;
    color: inherit; }
  .stats--big__img {
    width: 35%;
    vertical-align: top;
    margin-top: .1em;
    margin-right: .2em; }

.stats--small {
  font-size: .707em;
  background-color: #FEFF03; }

.stats__img--avatar {
  display: in-line block;
  width: 23%; }
.stats__img--wide {
  width: 100%; }
  @media screen and (max-width: 768px) {
    .stats__img--wide {
      width: 70%; } }

.stats__text-with-image {
  text-align: left;
  vertical-align: top; }

.right {
  text-align: right; }

.logo--tiny {
  width: 7%;
  display: inline-block;
  margin: 0px 1%; }

.week-table {
  font-weight: 700;
  font-size: .707em !important;
  font-family: 'PT Sans', sans-serif !important;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  padding: 1% !important;
  padding: 4% !important; }

.github-table {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin-right: 1%;
  font-size: .707em;
  text-align: left;
  margin: 2em auto;
  padding: 2em 1em; }
  @media screen and (max-width: 768px) {
    .github-table {
      width: 70%; } }

.commit-date span {
  margin-top: 1%;
  font-size: 0.907em;
  vertical-align: top;
  font-weight: 700; }

.commit-message {
  padding-left: 5%;
  /*padding-top: 2%;*/
  border-left: 1px solid grey;
  margin-left: 1.5%;
  font-weight: 600;
  padding-bottom: .707em; }

.img-wrapper {
  width: 12%;
  display: inline-block;
  padding: 2% 2% 1% 2%;
  vertical-align: top; }

.text-wrapper {
  display: inline-block;
  width: 88%;
  padding-top: 2%;
  font-size: .9em; }

.commit-message img {
  width: 100%; }

.commit-message-date {
  font-size: .9em;
  color: #767676; }

.commit-message h3 {
  font-size: 1em;
  line-height: 1.2em; }

.commit-message-innerdiv {
  width: 100%;
  border: 1px solid #e5e5e5;
  background-color: #F8F5EF; }

.commit-date {
  margin: 2% 0; }

.commit {
  width: 100%; }

.section-github {
  padding-top: 5%;
  padding-bottom: 5%; }

.commit-week-table {
  width: 35%;
  margin-left: 10%;
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600; }

.table-arrows {
  vertical-align: top;
  margin-top: 20% !important;
  font-size: 2em !important; }

.commit-week--header {
  font-size: 5em; }

.table-highlighted {
  background-color: #FEFF03; }

.hidden {
  display: none; }

.commit-week--header .ui.statistic {
  background-color: #FEFF03;
  vertical-align: top;
  float: right; }
  .commit-week--header .ui.statistic .label {
    font-size: .2em; }

/* Single property */
html {
  font-size: 14px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(14px + 6 * (100vw - 320px) / 1080); } }
  @media screen and (min-width: 1400px) {
    html {
      font-size: 20px; } }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.998em; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

small, .font_small {
  font-size: 0.707em; }

#portfolio_section {
  text-align: justify;
  font-family: 'PT Sans', sans-serif; }

.ui.label {
  margin: 1em 0 !important; }

/*# sourceMappingURL=index.css.map */
