.github-table {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin-right: 1%;
  font-size: .707em;
  text-align: left;
  margin: 2em auto;
  padding: 2em 1em;

  @media screen and (max-width: 768px){
    width: 70%;
  }
}
.commit-date span {
  margin-top: 1%;
  font-size: 0.907em;
  vertical-align: top;
  font-weight: 700;
}

.commit-message {
  padding-left: 5%;
  /*padding-top: 2%;*/
  border-left: 1px solid grey;
  margin-left: 1.5%;
  font-weight: 600;
  padding-bottom: .707em;
}

.img-wrapper {
  width: 12%;
  display: inline-block;
  padding: 2% 2% 1% 2%;
  vertical-align: top;
}

.text-wrapper {
  display: inline-block;
  width: 88%;
  padding-top: 2%;
  font-size: .9em;
}

.commit-message img {
  width: 100%;
}

.commit-message-date {
  font-size: .9em;
  color: #767676;
}

.commit-message h3 {
  font-size: 1em;
  line-height: 1.2em;
}
.commit-message-innerdiv {
  width: 100%;
  border: 1px solid #e5e5e5;
  background-color: #F8F5EF;
}

.commit-date {
  margin: 2% 0;
}

.commit {
  width: 100%;
}

.section-github {
  padding-top: 5%;
  padding-bottom: 5%;
}


.commit-week-table {
  width: 35%;
  margin-left: 10%;
  display: inline-block;
  vertical-align: top;
  margin-right: 5%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
}

.table-arrows {
  vertical-align: top;
  margin-top: 20% !important;
  font-size: 2em !important;
}

.commit-week--header {
  font-size: 5em;
}

.table-highlighted {
  background-color: #FEFF03;
}

.week-table {
  border: 1px solid rgba(34,36,38,.15) !important;
  padding: 1% !important;
  padding: 4% !important;
}
.hidden {
  display: none;
}


.commit-week--header {
  .ui.statistic {
    background-color: #FEFF03;
    vertical-align: top;
    float: right;

    .label {
      font-size: .2em;
    }
  }
}