.section{

  &__main-text {
    font-style: normal;
    line-height: 1.5;
    font-size: 1em;
    margin: 5% 0 0 0;
    font-family: Arial;
  }


  &__stats{
    margin: 2em auto;
    padding-bottom: 2em;
    border-bottom: 2px solid #222;

    .heading1 {
      color: #090909;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-size: 1.2em;
      line-height: 1.3;
      text-align: left;
      letter-spacing: 1px;
      width: 45%;
      margin-right: 4%;
      display: inline-block;

      @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
        display: block;
        margin: 1em 0;
      }
    }

    .heading1--wide {
      @extend .heading1;
      width: 66%;
      margin-right: 2%;

      @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
        display: block;
        margin: 1em 0;
      }
    }

    .heading1--wide--topmarg {
        @extend .heading1;
        width: 66%;
        margin-right: 2%;
        margin-top: 13%;

        @media screen and (max-width: 768px) {
          width: 100%;
          text-align: center;
          display: block;
          margin: 1em 0;
        }
      }
    }

  &__image-row {
    margin-top: 3%;
    width: 50%;
    display: inline-block;
    vertical-align: top;

    @media screen and (max-width: 768px) {
      width: 70%;
      display: block;
      margin: 1em auto;
    }
  }

  &__image-row--wide {
    @extend .section__image-row;
    width: 30%;

    @media screen and (max-width: 768px) {
      width: 70%;
      display: block;
      margin: 1em auto;
    }
  }
}

.stats-section--2 {
  text-align: left;

  .stats__item {

    width: 48%;
    display: inline-block;

    &__text {

      margin: 4em 0 1em 0;
      width: 70%;
      color: #FEFF03;
      background: #222;
      padding-left: 1em;
    }

    &__img {
      display: inline-block;
      img {
        width: 50%;
      }
    }
  }
}

.section-intro__main-text-wrapper {
  margin-top: 5%;
}

.stats--normal {
  font-size: 1.5em;
}

.stats--big {
  font-weight: 100;
  font-size: 2em;
  color: #FEFF03;
  background: #222;
  padding: 2px;

  &--plain {
    background-color: none;
    color: inherit;
  }

  &__img {
    width: 35%;
    vertical-align: top;
    margin-top: .1em;
    margin-right: .2em;
  }
}

.stats--small {
  font-size: .707em;
  background-color: #FEFF03;
}

.stats__img {
  &--avatar {
    display: in-line block;
    width: 23%;
  }

  &--wide {
    width: 100%;

    @media screen and (max-width: 768px) {
      width: 70%;
    }
  }
}

.stats__text-with-image {
  text-align: left;
  vertical-align: top;
}

.right {
  text-align: right;
}

.logo--tiny {
  width: 7%;
  display: inline-block;
  margin: 0px 1%;
}

.week-table{
  font-weight: 700;
  font-size: .707em !important;
  font-family: 'PT Sans', sans-serif !important;
  border: 1px solid rgba(34,36,38,.15) !important;
  padding: 1% !important;
  padding: 4% !important;
}
